/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
        /*My Style*/

body {
    margin: 5px;
}
#header-menu{
    background: rgb(26, 26, 26);
    padding: 30px 10px;
    
}
#menu{
    float: right; 
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
}
#logo{
    margin-left: 100px;
}

.bot{
    margin-left:10px;
    margin-top: 10px;
    color: #f0f8ff; 
}

.bottons{
    padding-top: 10px;
    color: #f0f8ff;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    background-color: #ff6760;
    border-radius: 6px;
    padding: 7px 17px;
    color: #f5f5f5;
}

.ul-aligne{
    margin-top: 20px;
}
#home-menu{
    color: #ff6760;
}
#welcome-banner{
    background: #2a2a2a;
    padding: 100px 10px;
    text-align: center;
    
}

h2{
    margin-top: 10px;
    font-size: 30pt;    /* This style applied for all p, h2, ul*/
    color: #d9d9d9;
}

h3{
    margin-top: 10px;
    font-size: 30pt;    /* This style applied for all p, h2, ul*/
    color: #d9d9d9;
    margin-top: 10px;
}

h1{
    margin-top: 10px;
    font-size: 30pt;    /* This style applied for all p, h2, ul*/
    color: #696969;
    margin-top: 10px;
}
.p-welcome{
    font-size: 20pt;
    color: #d9d9d9;
}
#skills-section{

    background-color: #f8f8f8;
}
#skills-banner{
    padding: 70px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    background-color: #f8f8f8;

    
}

.skills-item{
    display: inline-block;
    text-align: center;
    padding: 0 10px 0 10px;
    height: min-content;
    width: 200px;

}
.skills-title{
    font-size: 18px;
}
.skills-descrip{
    font-size: 12px;
    color: #848484;
}
.bot-4{
    display: inline-block;
    width: min-content;
    font-size: 16px;
    background-color: #ff6760;
    border-radius: 6px;
    padding: 7px 17px;
    color: #f5f5f5;

}
#portfolios{
    text-align: center;
    margin-bottom: 40px;

}
.portfolio-a{
    margin-bottom: 30px;
}
ul-bot{
    padding-top: 20px;
    width: 50px;
    margin-bottom: 10px;

}
h4{
    margin-top: 10px;
    font-size: 20pt;    /* This style applied for all p, h2, ul*/
    color: #696969;
    margin-top: 40px;
}
#spa-portfolio{
    color: #848484;
}
.content{
    margin-top: 20px;

}
.media{
    flex-grow: 3;
    display: inline-block;
}
h5{
    margin-top: 10px;
    font-size: 20pt;    /* This style applied for all p, h2, ul*/
    color: #d9d9d9;
    margin-top: 40px;
}
#spa-portfol-bottom{
    color: #d9d9d9;
}
#touch-banner{
    background-color: #2f2f2f;
    text-align: center;
}
#touch-banner-text{
    padding-top: 20px;
    justify-content: space-around;
    padding-bottom: 10px;
}
#touch-banner-text h5{
    margin-bottom: 10px;
}
#touch-banner-adress{
    display: inline-block;
    justify-content: center;
    display: flex;
    
}
.adress{
    margin-left: 30px;
    margin-right: 30px;
    align-items: stretch;
}
.adress img{
    float: left;
    
    
}
.adress p{
    color: #d9d9d9;
    font-size: small;
    display: inline;
    margin-left: 8px;
}
#socials{
    margin-top: 20px;
    padding-bottom: 20px;
}
#social{
    height: 25px;
}
#foter{
    background-color: #2a2a2a;
    text-align: center;
    padding-top: 10px;
padding-bottom: 15px;
}
small{
    font-size: 8pt;
    color: #848484;
}
